.listItem {
  box-sizing: border-box;
  padding: 12px 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #6cc4d4;
  color: white;
  cursor: pointer;
}

.active {
  background-color: #9fcc3b;
}
